/* lighter blue: #200681
darker blue: #0c0050
grey: e1e1e1 */

html,
body,
#cv {
  height: 100%;
  overflow: auto;
}

body {
  font-family: "PT Sans", sans-serif;
  margin: 0px;
}

#cv {
  display: grid;
  grid-template-columns: 33% 67%;
}

section {
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #0c0050;
  height: 100%;
}

section > * {
  color: white;
  text-align: center;
}

section > h3 {
  color: #de0870;
}

main {
  padding: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
}

main > h3 {
  color: #de7608;
}

h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  margin: 0px 15px;
  font-size: 3.5em;
  /* font-family: "Ibarra Real Nova", serif; */
  font-weight: 200;
  /* border-bottom-style: solid;
  border-bottom-color: #de0870;
  border-bottom-width: 5px; */
  color: #0c0050;
  display: inline-block;
  width: 100%;
  flex-grow: 1;
  /* margin: 0px auto; */
}

h3 {
  position: relative;
  z-index: 1;
}

h4,
h5 {
  margin: 10px 0px;
}

p {
  margin: 10px 0px;
}

main > p,
.highlight > p {
  text-align: justify;
}

h3::before {
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

main > h3:before {
  border-top: 2px solid #de7608;
}

section > h3:before {
  border-top: 2px solid #de0870;
}

main > h3 > span {
  background: #fff;
  padding: 0 15px;
}

section > h3 > span {
  background: #0c0050;
  padding: 0 15px;
}

main > h4,
main > p {
  padding: 0px 10px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

#libraries {
  columns: 3;
}

#library1 {
  margin-top: 0px;
}

.icons {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.highlight {
  background-color: #de770815;
  display: inline-block;
  padding: 0px 10px;
  border-radius: 5px;
}

.highlightSection {
  background-color: #0c0050;
  display: inline-block;
}

header {
  text-align: center;
  display: flex;
  align-items: center;
  vertical-align: middle;
  width: 100%;
  background-color: #de770815;
  border-radius: 5px;
}

#qrCode {
  height: 72px;
  border: 1px solid #de7608;
  border-radius: 5px;
  margin: 0px auto;
  z-index: 1;
  background-color: #fff;
  display: inline-block;
}

@media print {
  html,
  body,
  #cv {
    overflow: hidden;
  }

  h1 {
    font-size: 2.2em;
  }
}
