html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  height: 100%;
  margin: 0px;
}

#cv {
  display: grid;
  grid-template-columns: 33% 67%;
  grid-template-rows: 100%;
  height: 100%;
}

section {
  padding: 25px;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #200681;
}

section > * {
  color: white;
  text-align: center;
}

section > h3 {
  color: #de0870;
}

main {
  padding: 25px;
  grid-column-start: 2;
  grid-column-end: 3;
}

main > h3 {
  color: #de7608;
}

h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  margin: 10px 15px 0px 15px;
  font-size: 2em;
  border-bottom-style: solid;
  border-bottom-color: #de0870;
  border-bottom-width: 5px;
  color: #200681;
  display: inline-block;
  width: 90%;
  flex-grow: 1;
  /* margin: 0px auto; */
}

h3 {
  position: relative;
  z-index: 1;
}

h4,
h5 {
  margin: 10px 0px;
}

p {
  margin: 10px 0px;
}

h3::before {
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

main > h3:before {
  border-top: 2px solid #de7608;
}

section > h3:before {
  border-top: 2px solid #de0870;
}

main > h3 > span {
  background: #fff;
  padding: 0 15px;
}

section > h3 > span {
  background: #200681;
  padding: 0 15px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

#libraries {
  columns: 3;
}

#library1 {
  margin-top: 0px;
}

.icons {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.highlight {
  background-color: #e1e1e1;
  display: inline-block;
}

.highlightSection {
  background-color: #160262;
  display: inline-block;
}

header {
  text-align: center;
  display: flex;
  vertical-align: middle;
  width: 100%;
}

#qrCode {
  height: 50px;
  border: 1px solid #de0870;
  border-radius: 5px;
  margin: 0px auto;
  z-index: 1;
  background-color: #fff;
  display: inline-block;
}

/* @media print {
  body {
  }
} */
